<div *ngIf="Product['show']">
  <div [ngSwitch]="types">
    <div *ngSwitchCase="'plan'" class = "flex-container" [ngStyle]="{'background-image': 'url('+ Product['backgroundImg'] + ')'}">
      <div>
        <h1 class="col-12">{{Product['productDescription']}}</h1>
      </div>
      <div></div>
      <div>
        <a href="{{Product['link']}}" class = "button">{{Product['buttonText']}}</a>
      </div> 
    </div>
    <div *ngSwitchCase="'cellphone'" class = "flex-container">
      <div>
        <img src="{{Product['productImg']}}">
      </div>
      <div></div>
      <div>
        <h2>{{Product['productName']}}</h2>
        <h3>{{Product['productDescription']}}</h3>
      </div> 
    </div>
  </div>
</div>